[Unit]
Description=Drone Camera Service
After=network.target

[Service]
ExecStart=/home/admin/drone/RCDroneCamera/venv/bin/python /home/admin/drone/RCDroneCamera/main.py --stream-url=127.0.0.1:5602 --stream-resolution=854x480 --drone-connection=/dev/ttyAMA0
User=root
Restart=always

[Install]
WantedBy=multi-user.target