asttokens==2.4.1
av==13.0.0
docutils==0.21.2
dronekit @ git+https://github.com/dronekit/dronekit-python.git@243ce0ac9c51504fc846e4ea1e35dbff03985871
executing==2.1.0
future==1.0.0
ipython==8.27.0
jedi==0.19.1
lockfile==0.12.2
lxml==5.2.1
matplotlib-inline==0.1.7
MAVProxy==1.8.70
monotonic==1.6
numpy==2.1.1
parso==0.8.4
pexpect==4.9.0
pillow==10.4.0
prompt_toolkit==3.0.47
pure_eval==0.2.3
Pygments==2.18.0
pyserial==3.5
python-daemon==3.0.1
PyYAML==6.0.1
simplejpeg==1.7.6
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
wcwidth==0.2.13